[Unit]
Description=Synchronise ebooks in calibre-server with a connected ereader

[Service]
User=pi
Group=pi
Type=forking
ExecStart=/opt/calibreautosync/autosync.sh

